.gradient{
	background: rgb(185,215,19); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(185,215,19,0.78) 0%, rgba(181,227,207,0.78) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(185,215,19,0.78)), color-stop(100%,rgba(181,227,207,0.78))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(185,215,19,0.78) 0%,rgba(181,227,207,0.78) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(185,215,19,0.78) 0%,rgba(181,227,207,0.78) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(185,215,19,0.78) 0%,rgba(181,227,207,0.78) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(185,215,19,0.78) 0%,rgba(181,227,207,0.78) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b9d713', endColorstr='#b5e3cf',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 7px rgba(0, 0, 0, .45);
}

.loginbox {
 opacity:0.6;
 background:#d8f69f;
	
}
html, body {
	
	background: rgb(80,157,211); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(80,157,211,1) 0%, rgba(216,246,159,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,157,211,1)), color-stop(100%,rgba(216,246,159,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(80,157,211,1) 0%,rgba(216,246,159,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(80,157,211,1) 0%,rgba(216,246,159,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(80,157,211,1) 0%,rgba(216,246,159,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(80,157,211,1) 0%,rgba(216,246,159,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#509dd3', endColorstr='#d8f69f',GradientType=0 ); /* IE6-9 */
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed;
}
.leftmenuFontColor > li > a{
	color : rgba(109, 92, 13,1);
}

.contenuWhite {
	background: #d8f69f;	
	
}

.headerImage {
	
	background-image: url(../img/header.png) ;
    background-size:cover;
	width: 100%;
	height: 159px;
}

.bottom{
 background-image: url(../img/bottom.png) ;
 background-size:cover;
 width: 100%;
 height: 159px;
 text-align:center;
 padding-top: 120px;
}

.Article {
	
	background: rgba(185,215,19,0.38);	
	
	
}
.ListeArticle{
	left : -5%;	
	
}

.carousel {
height : 200px;	
left : 16%;
top: -60px;
width: 60%;
}
/* Since positioning the image, we need to help out the caption */
 .carousel-caption {
    z-index: 10;
}
/* Declare heights because of positioning of img element */
 .carousel .item {
    
    height: 200px;
    background-color: #777;
	
}
.carousel-inner > .item > img {
    position: absolute ;
    top: 0;
    left: 0;
	width: 100%;
    height: 200px;
	
}
img {
    background: red;
}